{{- define "title" -}}
    {{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- $taxonomy := .Data.Singular -}}
            {{- if eq $taxonomy "category" -}}
                <i class="far fa-folder-open fa-fw" aria-hidden="true"></i>&nbsp;{{ .Title }}
            {{- else if eq $taxonomy "tag" -}}
                <i class="fas fa-tag fa-fw" aria-hidden="true"></i>&nbsp;{{ .Title }}
            {{- else -}}
                {{- .Title -}}
            {{- end -}}
        </h2>

        {{- if .Pages -}}
            {{- range .Pages -}}
                <div class="summary">
                    <div class="content">
                        <a class="link" href="{{ .RelPermalink }}">
                            <h3 class="title">{{ .Title }}</h3>
                        </a>
                        <div class="meta">
                            <span class="date">{{ .Date.Format "2006-01-02" }}</span>
                        </div>
                        <div class="summary-text">
                            {{ .Summary }}
                        </div>
                    </div>
                </div>
            {{- end -}}
        {{- else -}}
            <div class="summary">
                <div class="content">
                    <h3>No posts found in this {{ .Data.Singular }}.</h3>
                </div>
            </div>
        {{- end -}}
    </div>
{{- end -}}